@import url("https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: #fff;
}
header{
    margin-top: 25px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 8%;
    background-color: transparent;
    justify-content: space-between;
    filter: drop-shadow(15px);
    display: flex;
    z-index: 100;
    align-items: center;
}



.port{
    font-size: 60px;
    cursor: pointer;
    font-weight: 1000;
    color: rgba(243, 7, 7, 0.959);
    font-family: Lucida;
    transition: 0.5s ease;
}
.port:hover{
    transform: scale(1.2);
}
nav a{
    font-size: 1.1rem;
    margin-left: 2.4rem;
    font-weight: 900;
    color: azure;
    transition: 0.1s ease;
    align-items: center;
    font-family: cursive;
}
nav a:hover,nav a.active{
    font-family: Georgia;
    color: #eb0b0b;
    border-bottom: 3px solid #eb0b0b;
    transform: scale(5);
}
section{
    padding: 4rem;
    padding-bottom: 0%;
    padding-left: 9rem;
    padding-right: 9rem;
}
.about{
    display: flex;
    justify-content: center;
    gap: 9rem;
}
.content a{
    color: #fff;
    cursor:default;
}
.aboutimg img{
    border-radius: 50%;
    width: 25rem;
    height: 33rem;
    cursor: pointer;
    box-shadow: 0 0 25px #eb0b0b;
    transition: 1s ease;
}
.aboutimg img:hover{
    box-shadow: 10px 10px 100px #eb0b0b;
}
.content{
    margin-top: 30px;
}
.content h3{
    font-family: sans-serif;
    margin-top: 50px;
    font-size: 40px;
    color: #eb0b0b;
    border-bottom: 2px solid #eb0b0b;
    box-shadow: 0 1px #eb0b0b;
    font-style: italic;
}
.content h1{
    font-weight: 900;
    font-size: 30px;
    font-style: italic;
}
.content h1 span{
    color: #eb0b0b;
    font-size: 40px;
}
.content p1{
    font-family: cursive;
    font-size: 20px;
}
.content h2 span{
    font-style: italic;
    color: #eb0b0b;
}
.Skills{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}



.box{
    display: flex;
}

.about-skill{
    width: 23%;
    border: 1px solid #eb0b0b;
    margin-left: 25rem;
    box-shadow: 0 0 12px #eb0b0b;
    height: 83.6vh;
}

.about-skill img{
    align-items: center;
    width: 100%;
    height: 608px;
}
.Sharingan{
    cursor: pointer;
    transition: 0.01s ease;
}
.Sharingan:hover{
    box-shadow: 0 0 100px #eb0b0b;
    transform: scale(1.01);
    opacity: 1;
}


.Skills h1{
    padding-top: 2rem;
    font-size: 3rem;
    margin-left: 7rem;
    color: #eb0b0b;
    font-family: serif;
}
.skill ul{
    margin-top: 3rem;
    font-size: 2.4rem;
    font-family: monospace;
    letter-spacing: 2px;
    line-height: 5rem;
    margin-left: 11rem;
    list-style: none;
}
.skill ul li{
    display: grid;
    cursor: pointer;
    transition: 1s ease;
}
.skill ul li:hover{
    font-size: 2.9rem;
    color: #eb0b0b;
}
.Projects{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
.Projects h1{
    padding-top: 2rem;
    font-size: 3rem;
    margin-left: 7rem;
    color: #eb0b0b;
    font-family: serif;
}
.proj{
    margin-left: 11rem;
    display: inline;
    margin-right: 11rem;
    justify-content: center;
}
.pro{
    width: 30%;
    height: 20%;
    border: 2px solid #eb0b0b;
    margin-top: 3rem;
    box-shadow: 0 0 1.5rem #eb0b0b;
    margin-left: 30%;
    transition: 1s;
}
.pro:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.pro h2{
    font-size: 25px;
    text-align: center;
}
.pro p1{
    line-height: 2px;
    font-family: cursive;
    margin-left: 2.8rem;
    padding: 9px;
}
.Contact{
    width: 100%;
    height: 70vh;
    margin: 0;
    padding: 0;
}
.Contact h1{
    padding-top: 2rem;
    font-size: 3rem;
    margin-left: 7rem;
    color: #eb0b0b;
    font-family: serif;
}
.con{
    width: 40%;
    margin-top: 2rem;
    margin-left: 25rem;
    position: relative;
    background-color: black;
}
.form input{
    margin-left: 10%;
    color: #fff;
    font-family: cursive;
    font-size: 2rem;
    border-radius: 10px 0 10px 0;
    margin-top: 1.4rem;
    text-align: center;
    background-color: transparent;
    border: 2px solid #eb0b0b;
}
.submit input{
    margin-left: 40%;
    color: #fff;
    font-family: cursive;
    font-size: 2rem;
    border-radius: 10px;
    margin-top: 1.4rem;
    text-align: center;
    background-color: transparent;
    border: 2px solid #eb0b0b;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    margin-bottom: 11px;
}
.submit input:hover{
    box-shadow: 0 0 10px 10px #eb0b0b;
    opacity: 0.7;
}
.form textarea{
    border: 2px solid #eb0b0b;
    background-color: black;
    width: 77%;
    height: 80px;
    margin-top: 1.4rem;
    margin-left: 10%;
    font-size: 1.5rem;
    border-radius: 10px 0 10px 0;
    color: #fff;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.con::after, .con::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle),transparent 86%,rgb(234, 13, 13));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 15px;
    animation: 3s spin linear infinite;
}
.con::before{
    filter: blur(1.5rem);
    opacity: 1;
}
@keyframes spin{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}
.educate h1{
    padding-top: 2rem;
    font-size: 3rem;
    margin-left: 7rem;
    color: #eb0b0b;
    font-family: serif;
}
.educate::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}
.educate h2{
    margin-bottom: 0.8rem;
}
.line{
    margin: 3em auto;
    max-width: 34.15em;
}
.checkpoint{
    margin-top: 11px;
    position: relative;
}
.checkpoint div{
    border: 2px solid #eb0b0b;
    padding: 3px;
    border-radius: 10px;
}
.checkpoint h2{
    font-family: cursive;
}
.checkpoint:nth-child(odd){
    border-left: 3px solid #eb0b0b;
    padding-left: 3rem;
    transform: translateX(19em);
}
.checkpoint:nth-child(even){
    border-right: 3px solid #eb0b0b;
    padding-right: 3rem;
    transform: translateX(-19em);
}
.checkpoint:nth-child(odd)::before{
    left: 0%;
}

::selection{
    background-color: #f04607;
    color: black;
    box-shadow: 0 0 10px #eb0b0b;
    opacity: 2;
}


/* .hidden{
    opacity: 0;
    transition: all 1s;
    transform: translateX(100);
}
.show{
    opacity: 1;
    transform: translateX(0);
} */

.video{
    margin-left: 14rem;
}
video{
    width: 50rem;
}

.clips{
    width: 100%;
    height: 100vh;
    height: auto;
    position: relative;
}
.clips h1{
    padding-top: 2rem;
    font-size: 3rem;
    margin-left: 7rem;
    color: #eb0b0b;
    font-family: serif;
}

.clips figure{
    height: 100vh;
    margin-left: 24%;
    height: 40rem;
    width: 50rem;
    line-height: 0;
    margin-top: 2rem;
}
.slide{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.slide video{
    width: 90px;
    height: 80px;
    margin: 20px;
    border: 2px solid #fff;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}
.slide video:hover{
    transform: scale(1.3);
}